*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-color: #000;
    color: #fff;
}
.container{
    width: 100%;
  /*  border: 2px solid #ff69b4;*/
    margin: 0 0;
    /*max-width: 100%;
    /*min-height: 200px;*/
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10%;
    background-color: #ff69b4;
    text-transform: uppercase;
}
.me{
    cursor: pointer;
    color: #000;
    font-size: larger;
    font-weight: bold;
}
nav{
   display: flex;
   flex-flow: row nowrap;
   justify-content: space-evenly;
}
nav a{
    text-align: center;
  cursor: pointer;
  border-left: 1px solid #000;
  text-decoration: none;
  padding: 0.25rem 0.5rem;
  color: #000;
}
a.home{
    text-decoration: none;
    color:#000;
}
a:hover{
    color: #fff;
}
img{
    width: 250px;
    height:250px;
    border-radius: 10px;
    border-color: #000;
    /* background-color: #ff69b4; */
    /* border-width: 5px; */
    padding-left: 10px;
}
h1, p{
    padding-left: 10px;
}

.calculator{
    display: flex;
}
input.calc[type="text"]{
    width: 100%;
    border: solid #000 1px;
    background-color: #ffff;
}
input.calc[type="button"]{
    width: 100%;
    background-color: #000;
    color: #ffff;
    border: solid #ff69b4 2px;
}